/*****   DEBUT  MAIN     STYLE       *****/

body {
	font-family: "Brandon Grotesque Regular";
}

a:focus, a:hover {
	text-decoration: none;
}

.row {
	margin-right: 0px;
    margin-left: 0px;
}

ul {
	list-style: none;
}

/*****     FIN    MAIN     STYLE       *****/

/***** DEBUT HOME   ****/

#home{
	background: url(images/headerImage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	color: #fff;
	height: 100%;
}

#menu .navbar {
	width: 100%;
    padding-top: 1rem;
}

#logo {
	width: 26%;
	padding-top: 0.5em;
}

#logo a {
	font-family: "CubanoRegular";
	font-size: 25px;
	color: #fff;
	font-style: normal;
	letter-spacing: 4px;
}

#navigation a {
	font-family: "Brandon Grotesque Medium";
	font-size: 18px;
	color: #fff;
	padding-top: 1.5em;
}

#headerText {
    min-height: 320px;
    padding: 20px 0 0;
	color: #fff;
}

#slidetext1 {
	font-size: 24px;
	margin-bottom: 0;
	font-family: "Brandon Grotesque Light";
	line-height: 1.8;
}

#slidetext2 {
	font-family: "Brandon Grotesque Bold";
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 0.8em;
}

#learnMore {
	font-family: "Brandon Grotesque Bold";
	font-size: 23px;
	padding: 0.7rem 3.5rem;
    border: 3px solid #fff;
	color: #fff;
}

/****	FIN  HOME   ****/

/***** DEBUT SERVICES   ****/

#webDevelopment, #branding, #skills {
	padding: 1rem 0;
}

.serviceName {
	font-family: "Brandon Grotesque Light";
	font-size: 36px;
}

.serviceName span {
	font-family: "Brandon Grotesque Bold";
}

.serviceDescription, .skillDescription {
	font-size: 16px;
	color: #777;
}

#developmentAndBranding .serviceImages {
	width: 100%;
}

#branding {
	background-color: #fafafa;
}

.skillName {
	font-family: "Brandon Grotesque Medium";
	font-size: 18px;
}

/****	FIN  SERVICES   ****/

/***** DEBUT AWESOME CLIENTS   ****/

#awesomeClients {
	background-color: #fafafa;
	padding: 1rem 0;
}

.bart .clientPhoto {
	margin-top: 3rem;
}

.testimonialsBlock .popover {
    position: relative;
	top: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
	padding: .5rem 1rem;
	max-width: 100%;
}

.testimonialsBlock .popover .popover-content {
	font-size: 18px;
	background-color: transparent;
	font-weight: normal;
	padding: 0;
}

.testimonialsBlock .popover.popover-top::after, .testimonialsBlock .popover.bs-tether-element-attached-bottom::after {
    border-top-color: #fff;
}

blockquote p {
    font-family: "Brandon Grotesque Regular";
	font-size: 18px;
	color: #777;
}

blockquote p:before {
	content: "\201C";
}

blockquote p:after {
	content: "\201D";
}

#author {
	font-size: 14px;
	color: #7690c5;
}

/****	FIN  AWESOME CLIENTS   ****/

/***** DEBUT LOGOS   ****/

#logos img {
	width: 100%;
}

/****	FIN  LOGOS   ****/

/***** DEBUT 	AMAZING TEAM   ****/

#amazingTeam {
	background-color: #111;
	padding: 1rem 0;
	color: #ebebeb;
}

#amazingTeamTitle h3, #awesomeClientsTitle h3 {
	font-family: "Brandon Grotesque Light";
	font-size: 40px;
}

#amazingTeamTitle h3 span, #awesomeClientsTitle h3 span {
	font-family: "Brandon Grotesque Bold";
}

#amazingTeamTitle p, #awesomeClientsTitle p {
	font-size: 18px;
	color: #777;
}

#amazingTeamBlocks .amazingTeamPhotos, .testimonialsBlock .clientPhoto {
	width: 100%;
}

.amazingTeamBlocksName {
	font-family: "Brandon Grotesque Bold";
	font-size: 18px;
	color: #fff;
}

.amazingTeamBlocksFonction {
	font-family: "Brandon Grotesque Light";
	font-size: 16px;
	line-height: 1.3rem;
}

#amazingTeamDescription {
	font-size: 14px;
}

/****	FIN  AMAZING TEAM   ****/


/***** DEBUT CONTACT   ****/

#contact {
	background-color: #7690c5;
	color: #fff;
}

.contactForm {
	padding: 1rem 0;
}

#contactTitle h3 {
	font-family: "Brandon Grotesque Light";
	font-size: 60px;
}

#contactTitle h3 span {
	font-family: "Brandon Grotesque Bold";
}

#contactTitle p, .contactAddress p span {
	font-family: "Brandon Grotesque Light";
	font-size: 18px;
}


#formulaire .form-control {
	border: 0;
	background-color: #fff;
	border-radius: 0.2rem;
	color: #bbb;
	font-family: "Brandon Grotesque Regular";
	font-size: 18px;
	width: 100%;
}

#copyright {
	font-family: "Brandon Grotesque Medium";
	font-size: 16px;
	padding: 1rem 0 1.5rem;
}

/****	FIN  CONTACT   ****/

/****   DEBUT MEDIA QUERIES    ****/

@media screen and (min-width: 578px) and (max-width: 767px) {
	#headerText {
		min-height: 350px;
		padding: 60px 0 0;
	}
	
	#slidetext1 {
		font-size: 24px;
		line-height: 2.8;
	}
	
	#slidetext2 {
		font-size: 46px;
		margin-bottom: 0.8em;
	}
	
	.skillName {
		font-size: 20px!important;
	}
	
	#developmentAndBranding .serviceImages {
		width: auto;
	}
	
	blockquote p {
		font-size: 22px;
	}
	
	#author {
		font-size: 16px;
	}
}

@media screen and (min-width: 578px) {
	.serviceName, #amazingTeamTitle h3, #awesomeClientsTitle h3 {
		font-size: 60px;
	}
	
	.serviceDescription, .skillDescription, .amazingTeamBlocksFonction {
		font-size: 18px;
	}
	
	.skillName, #amazingTeamTitle p, #awesomeClientsTitle p, #amazingTeamDescription {
		font-size: 22px;
	}
	
	#amazingTeamBlocks .amazingTeamPhotos, .testimonialsBlock .clientPhoto {
		width: auto;
	}
		
	.amazingTeamBlocksFonction {
		padding: 0 1rem;
	}
	
}
 
@media screen and (min-width: 768px) and (max-width: 991px) {
	.bart .clientPhoto {
		width: 180px!important;
	}
	
	.testimonialsBlock .popover {
		left: 13.3%;
		padding: 0.5rem 2rem;
		max-width: 90%;
	}
	
	blockquote p {
		font-size: 22px;
	}
	
	#author {
		font-size: 16px;
	}
	
	#amazingTeamBlocks .amazingTeamPhotos {
		width: 200px;
	}
}

@media screen and (min-width: 768px) {
	#headerText {
		min-height: 370px;
		padding: 5px 0 0;
	}
	
	#slidetext1 {
		font-size: 32px;
		line-height: 2.8;
	}
	
	#slidetext2 {
		font-size: 64px;
		margin-bottom: 0.8em;
	}
	
	#learnMore {
		padding: 1rem 4.5rem;
	}
	
	#webDevelopment, #branding, #skills, #awesomeClients, #amazingTeam {
		padding: 5rem 0;
	}
		
	.testimonialsBlock {
		padding: 3rem 0;
	}
	
	.bart .clientPhoto {
		margin-top: 0;
	}
	
	#logos {
		padding: 2rem 0;
	}
	
	#amazingTeamBlocks {
		padding: 3rem 0 2rem;
	}
	
	.contactForm {
		padding: 4rem 0;
	}
}

@media screen and (min-width: 992px) {
	#logo {
		padding-left: 6.5em;
	}
	
	#slidetext2 {
		margin-bottom: 0.8em;
	}
	
	.testimonialsBlock .popover {
		padding: 1.5rem 5rem;
		max-width: 90%;
	}
	
	.bart .popover {
		float: right;
	}
	
	blockquote p {
		font-size: 26px;
	}
	
	#author {
		font-size: 18px;
	}
	
	#logos img {
		width: auto;
	}
}

@media screen and (min-width: 1200px) {
	#webDevelopment, #branding, #skills {
		padding: 5rem 11rem;
	}
}

/****   FIN MEDIA QUERIES    ****/